<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="/stylesheets/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <script src="/javascripts/jquery-3.2.1.min.js"></script>
  <script src="/javascripts/semantic.min.js"></script>
  <title>CCC-Portal</title>
</head>
<body>
  <div class="ui sidebar vertical left inverted menu">
    <div class="item" style="padding-top: 50px;">
      <h3>Menu</h3>
    </div>
    <a class="item" href="/">
      <i class="dashboard icon"></i> Dashboard
    </a>
    <a class="item" href="/announcements">
      <i class="announcement icon"></i> Announcement
    </a>
    <a class="item" href="/applications">
      <i class="desktop icon"></i> Applications
    </a>
    <div class="item" style="padding-top: 50px;">
      <h3>Extras</h3>
    </div>
    <a class="item">
      <i class="help circle outline icon"></i> Help
    </a>
    <a class="item">
      <i class="mail outline icon"></i> Contact Us
    </a>
    <a class="item">
      <i class="info icon"></i> About
    </a>
  </div>
  <div class="ui basic icon top fixed menu" style="height: 50px;">
    <div class="ui container">
      <a id="toggle" class="item">
        <i class="sidebar icon"></i>
      </a>
      <a class="item" href="/">Home</a>
      <% if (Object.keys(currentUser).length !== 0 &&  currentUser.role.roleName == 'system-admin') {  %>
        <div class="ui  dropdown item">
            <p class="menu-margin">Admin</p>
            <div class="ui vertical menu">
                <div class="ui large header">
                  <h4>Announcement</h4>
                </div>
                <a href="/announcements/approval" class="item">
                    Approve<i class="ui right floated checkmark box icon"></i>
                </a>
                <div class="ui large header">
                    <h4>Administration</h4>
                </div>
                <div class="item">
                  <i class="ui right floated users icon"></i>
                  <span class="text">User Management</span>
                        <div class="menu">
                            <a href="/users/" class="item">View Users<i class="ui right floated list layout icon"></i></a>
                            <a href="/users/new" class="item">Add Users<i class="ui right floated add user icon"></i></a>
                        </div>
                </div>
                <a class="item" href="/applications">
                    Applications <i class="ui right floated block layout icon"></i>
                </a>
            </div>
        </div>
      <% } %>
    <div class="ui  dropdown item">
        <p class="menu-margin">Menu</p>
        <div class="ui vertical menu">
            <div class="ui large header">
                <h4>Announcement</h4>
            </div>
            <a class ="item" href="/announcements/?category=company">View Company<i class="ui right floated building icon"></i></a>
            <a class ="item" href="/announcements/?category=public">View Public<i class="ui right floated child icon"></i></a>
            <a class ="item" href="/announcements/new">Add New<i class="ui right floated plus icon"></i></a>
        </div>
    </div>
      <div class="right menu">
        <div class="item"  >
            <div class="ui category search" id="main-search">
                <div class="ui icon input" style="height:30px;">
                    <input class="prompt" type="text" placeholder="Search Applications">
                    <i class="search icon"></i>
                </div>
                <div class="results"></div>
            </div>
        </div>
        <div class="ui item floating labeled dropdown icon user-drop-menu" id="right-menu" >
          <img class="small-profile-image" src="data:image/jpeg;base64,<%= currentUser.thumbnail%>" alt="small profile picture">
          <p><%= currentUser.firstname%></p>
          <div class="menu dropdown" id='dropdown-right-menu' >
            <div class="ui message">
              <div class="ui card">
                <div class="image">
                  <img  src="data:image/jpeg;base64,<%= currentUser.thumbnail%>" >
                </div>
                <div class="content">
                  <h1 class="header"><%= currentUser.name %></h1>
                  <div class="meta">
                    <span class="date"><%= currentUser.title%></span>
                  </div>
                  <div class="description">
                      <% if(currentUser.country !== 'N/A') { %>
                        <i class="<%= currentUser.country.toLowerCase()%> flag"></i><span><%= currentUser.office%></span>
                      <% } %>
                  </div>
                </div>
                <div class="extra content right aligned ">
                  <a href="/logout" class="ui basic green button">Logout</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dimmed pusher">
      <div class="ui container body margin-0">
        <div class="item">
          <div class="ui breadcrumb">
              <% breadcrumbs.forEach(function (breadcrumb) { %>
            <a class="section" href="<%= breadcrumb.url%>"><%= breadcrumb.name%></a>
            <span class="divider">/</span>
              <% })%>
          </div>
        </div>