<% include ../partials/header.ejs %>
<style>
    td:nth-of-type(4) {
        text-transform: capitalize;
    }
</style>

<script src="/javascripts/jquery.dataTables.min.js" async></script>
<script src="/javascripts/dataTables.semanticui.min.js" async></script>
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.js"></script>-->

<div class="ui segment aligned" style="margin-bottom: 30px; padding-top: 15px;">
    <div class="ui sixteen wide column">
        <table id="user" class="ui selectable celled table aligned" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Department</th>
                <th>Scope</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <% announcements.forEach(function(announcement){ %>
            <tr id="<%= announcement._id %>">
                <td><%= announcement.title %></td>
                <td><%= announcement.author.name %></td>
                <td><%= announcement.department.name%></td>
                <td><%= announcement.category %></td>
                <td><%= announcement.status %></td>
                <td>
                    <a href="/announcements/<%= announcement._id%>/edit"><i class="ui icon edit large"></i></a>
                </td>
            </tr>
            <% }) %>
            </tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('#user').DataTable();
    } );

</script>
<% include ../partials/footer.ejs %>