<% include ../partials/header.ejs %>
<style>
    .announcement-tags {
        margin-bottom: 5px!important;
    }
    .edit-url {
        font-size: 1.5em;
        text-decoration: none;
        color: inherit;
    }

</style>
<div class="ui container body segment" style="margin-bottom: 50px; padding-top: 15px;">
    <h2 class="ui icon header center aligned">
        <i class="announcement icon"></i>
        <div class="content">
            Announcements
            <div class="sub header">Find a list of all the announcements here. Make sure to check this page daily for any new news!</div>
        </div>
    </h2>
    <hr style="margin: 50px 0 50px 0;">
    <div class="ui raised very padded text">
        <% announcements.forEach(function (announcement) { %>
        <div class="ui items segment" id="<%=announcement._id%>">
            <div class="item">
                <div class="ui small image">
                    <a href="/announcements/department/<%= announcement.department._id%>">
                        <img class="item round-edges" src="<%= announcement.department.picture%>" alt="department logo">
                    </a>
                    <h5> <%= announcement.creationDate.toLocaleDateString()%></h5>
                    <h4>Author</h4>
                    <p><i><%= announcement.author.name%></i></p>
                    <h4>Tags</h4>
                    <% announcement.tags.forEach(function(tag) { %>
                    <a class="small ui <%= tag.color %> basic label announcement-tags" href="/announcements/tag/<%= tag._id%>"><%= tag.name %></a>
                    <% }) %>
                </div>
                <div class="content ">
                    <p class="header"><%= announcement.title%></p>
                    <div class="announcement ">
                        <%- announcement.body %>
                    </div>
                </div>
                <a href="" class="edit-url"><i class="edit icon"></i></a>
            </div>
        </div>
        <%})%>
    </div>
</div>
<script>
    $('.edit.icon').click(function(){
        $('.edit-url').attr('href', '/announcements/'+ $(this).parent().parent().parent().attr('id') + '/edit');
    })
</script>
<% include ../partials/footer.ejs %>