<% include ../partials/header.ejs %>
<style>
    .announcement-tags {
        margin-bottom: 5px!important;
    }
</style>
<div class="ui container body segment" style="margin-bottom: 50px; padding-top: 15px;">
    <h2 class="ui icon header center aligned">
        <i class="announcement icon"></i>
        <div class="content">
            Announcements
            <div class="sub header">Find a list of all the announcements here. Make sure to check this page daily for any new news!</div>
        </div>
    </h2>
    <hr style="margin: 50px 0 50px 0;">
    <div class="ui raised very padded text">
            <% announcements.forEach(function (announcement) { %>
            <div class="ui items segment">
                <div class="item">
                    <a class="ui small image">
                        <img class="item" src="https://placeimg.com/125/125/any">
                        <h5> <%= announcement.creationDate.toLocaleDateString()%></h5>
                        <h4>Author</h4>
                        <p><%= announcement.author.name%></p>
                        <h4>Tags</h4>
                        <% announcement.tags.forEach(function(tag) { %>
                            <p class="small ui <%= tag.color %> basic label announcement-tags"><%= tag.name %></p>
                        <% }) %>
                    </a>
                    <div class="content ">
                        <a class="header"><%= announcement.title%></a>
                        <div class="description">
                            <p class="article-text"><%- announcement.body %></p>
                        </div>
                    </div>
                </div>
            </div>
            <%})%>
    </div>
</div>

<% include ../partials/footer.ejs %>