<% include partials/header.ejs %>
<style>
    .app-logo {
        width: 75px;
        display: inline!important;
    }
    .app-name {
        margin-top: 5px!important;
    }
    #short-announcements {
        padding-bottom: 25px!important;
    }
    .announce-more{
        float: right;
    }
    .hidden-app {
        margin-top: 0!important;
        padding-top: 4em!important;
        background: #F5F5F5!important;
    }

    .text.content h4 {
        margin: 0;
    }

    .event {
        padding-bottom: 10px!important;
    }
    @media (min-width: 992px) {
        .ui.ten.wide.column {
            max-width: 60%!important;
        }
    }
</style>

<div class="ui container body margin-0">
    <div class="ui two column stackable grid padding-0 margin-0">
        <div class="ui ten wide column " style="padding:15px 0; margin-top:15px">
            <div class="ui three column stackable grid centered app-list">
                <% applications.forEach(function(application){ %>
                    <a href="<%= application.url%>" target="_blank" class="five wide column">
                    <div class="ui fade reveal image">
                        <div class="ui raised very text center aligned segment fixsize visible content" style="width:100%">
                            <img class="app-logo" src="<%- application.imageUrl %>">
                            <h2 class="ui header app-name"><%- application.name %></h2>
                            <p></p>
                            <p></p>
                        </div>
                        <div class="ui raised very text center aligned segment fixsize hidden middle align content hidden-app" >
                            <p class="ui header" style="font-size: 8pt;"><%- application.description%></p>
                            <% if(application.isOnline) { %>
                                <button class="ui positive basic button">Online</button>
                            <% } else { %>
                                <button class="ui negative basic button">Offline</button>
                            <% }%>

                            <p></p>
                            <p></p>
                        </div>
                    </div>
                </a>
                <% }) %>
                <div class="fifteen wide column" style="margin:  0 0 0 0!important ; padding: 0 0!important ;">
                    <a href="/applications">
                        <button class="fluid ui blue button">All Apps</button>
                    </a>
                </div>
            </div>

        </div>
        <div class="right floated six wide column">
            <div class="ui raised very text segment" id="short-announcements">
                <p class="ui orange ribbon label">Announcements</p>
                <ul class="announce-list" style="list-style-type: none;padding-left:15px;">
                    <% announcements.forEach(function(announcement){ %>
                    <li>
                        <div class="ui feed">
                            <div class="event">
                                <div class="label ">
                                    <img src="<%= announcement.department.picture%>">
                                </div>
                                <div class="text content">
                                    <!--<p class="date"><%- announcement.creationDate.toDateString() %></p>-->
                                    <h5>
                                        <%- announcement.title.replace(/<(?:.|\n)*?>/gm, '').substring(0,40) %>
                                    </h5>
                                    <%- announcement.body.replace(/<(?:.|\n)*?>/gm, '').substring(0,80) %>
                                    <a href="/announcements/<%- announcement._id %>">...More</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <% }) %>
                </ul>
                <a class="announce-more" href="/announcements">view more...</a>
            </div>
            <div class="ui raised very text segment">
                <p class="ui red ribbon label">Holidays</p>
                <div class="ui celled list">
                    <div class="item">
                        <img class="ui avatar image" src="http://www.clipartbest.com/cliparts/yco/eqz/ycoeqzaKi.svg">
                        <div class="content">
                            <div class="header">Boxing Day</div>
                            June 5th, 2017
                        </div>
                    </div>
                    <div class="item">
                        <img class="ui avatar image" src="http://www.freepngimg.com/thumb/easter_bunny/6-2-easter-bunny-png-file-thumb.png">
                        <div class="content">
                            <div class="header">Easter</div>
                            April 15th, 2017
                        </div>
                    </div>
                    <div class="item">
                        <img class="ui avatar image" src="http://www.clipartbest.com/cliparts/yco/eqz/ycoeqzaKi.svg">
                        <div class="content">
                            <div class="header">Virgin Mary</div>
                            August 15th, 2017
                        </div>
                    </div>
                    <div class="item">
                        <img class="ui avatar image" src="http://www.clipartbest.com/cliparts/yco/eqz/ycoeqzaKi.svg">
                        <div class="content">
                            <div class="header">Boxing Day</div>
                            March 1st, 2017
                        </div>
                    </div>
                    <div class="item">
                        <img class="ui avatar image" src="http://www.clipartkid.com/images/718/jolly-holiday-svg-FvKztM-clipart.png">
                        <div class="content">
                            <div class="header">Christmas</div>
                            December 25th, 2017
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>










<% include partials/footer.ejs %>