<% include ../partials/header.ejs %>

<div class="item">
    <div class="ui breadcrumb">
        <a class="section" href="/">Home</a>
        <span class="divider">/</span>
        <a class="section" href="/Users/">Users</a>
        <span class="divider">/</span>
        <div class="active section">Edit</div>
    </div>
</div>
<div class="ui container body segment">
<form class="ui form" action="/users/<%- users._id%>?_method=PUT" method="post">
    <div class="ui">
        <header class="ui dividing header">
            <h3>Edit User</h3>
        </header>
        <div class="field">
            <label>Email</label>
            <input type="email" name="user[email]" value="<%=users.mail%>" readonly="">
        </div>
        <div class="field">
            <label>Name</label>
            <input type="text" name="user[name]" value="<%=users.name%>" readonly="">
        </div>
        <div class="field">
            <label>Title</label>
            <input type="text" name="user[title]" value="<%=users.title%>" readonly="">
        </div>
        <div class="field">
            <label>Department</label>
            <input type="text" name="user[department]" value="<%=users.department%>"  placeholder="ISD" readonly="">
        </div>
        <div class="field">
            <label>Country</label>
            <input type="text" name="user[country]"  value="<%=users.country%>" readonly="">
        </div>
        <div class="field">
            <label>Office</label>
            <input type="text" name="user[office]"  value="<%=users.office%>" readonly="">
        </div>
        <div class="field">
            <label>Roles</label>
            <select class="ui selection dropdown user-roles" name="user[roles]">
                <option value="">Tag</option>
                <% roles.forEach(function(role){%>
                    <option value="<%- role._id%>"><%- role.name %></option>
                <% })%>
            </select>
        </div>
        <div class="actions">
            <button class="ui positive right labeled icon button" type="submit">
                Add
            </button>
        </div>
    </div>
</form>
</div>
<script>
    var test = <%- JSON.stringify(users.roles)%>;
    $('.user-roles').dropdown('set selected', test[0].name);
</script>
<% include ../partials/footer.ejs %>