<% include ../partials/header.ejs %>


<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.semanticui.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.js"></script>

<div class="ui container body segment form" style="margin-bottom: 50px; padding-top: 15px;">
    <div class="ui sixteen wide column">
        <table id="user" class="ui selectable celled table" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>User Email</th>
                <th>Full Name</th>
                <th>Location</th>
                <th>Department</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <% users.forEach(function(user){ %>
                <tr id="<%=user._id%>">
                    <td><%= user.mail.toLowerCase()%></td>
                    <td><%= user.name%></td>
                    <td><%= user.country%></td>
                    <td><%= user.department%></td>
                    <% if (user.accountEnabled === true) {%>
                    <td style="color: green">Enabled</td>
                    <% } else { %>
                    <td style="color: red">Disabled</td>
                    <%}%>
                    <td>
                        <form action="/users/<%= user._id%>/edit" method="get">
                            <button ><i class="ui edit icon"></i></button>
                        </form>

                    </td>
                </tr>
            <% }) %>
            </tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('#user').DataTable();
    } );

</script>
<% include ../partials/footer.ejs %>